// --------------------------------------------------
// Layout projects
// --------------------------------------------------

.project-image {

  @include breakpoint(large) {
    margin-top: calc(#{$global-margin*-2} - 4vw);
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0 1rem rgba(0,0,0,0.1);
      transform: scale(1.04);
    }
  }
}
