// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------

$dcp-orange: #d96b27;
$a11y-orange: #ae561f;
$dcp-yellow: #ffc861;
$a11y-yellow: #ffeec1;

$strategic-objectives-palette: (
  neighborhood-improvement: #008542,
  housing: #857000,
  economic-development: #ad411d,
  resiliency-and-sustainability: #396a93,
  land-use-reviews: #f6b47d,
  data-and-expertise: #7363bc,
);

$footer-color: #f1f1f1;
