// --------------------------------------------------
// Images
// --------------------------------------------------

figure {
  margin-bottom: $global-margin;
}

figcaption {
  color: $dark-gray;
  font-size: $small-font-size;
  text-align: center;
}
