// --------------------------------------------------
// Typography Helpers
// --------------------------------------------------

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.nowrap {
  white-space: nowrap;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: $global-margin;
  padding-right: 4rem;
  background: $light-gray;
  margin-bottom: $global-margin;
}

.inline-icon {
  display: inline-block;
  height: 1em;
  transform: scale(1.5);
  vertical-align: text-bottom;
  fill: currentColor;
}

.text-small {
  font-size: rem-calc(12);
}

.status-down {
  color: $warning-color;
}

.status-up {
  color: $success-color;
}
