// --------------------------------------------------
// Typography Helpers
// --------------------------------------------------

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.nowrap {
  white-space: nowrap;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: $global-margin;
  padding-right: 4rem;
  background: $light-gray;
  margin-bottom: $global-margin;
}
